* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}


/* -------------------------------- Header ----------------------------- */

header {
    display: flex;
    position: fixed;
    top: 0;
    width: 90%;
    align-self: center;
    border-radius: 1em 0em 1em 1em;
    z-index: 30;
}

/* Logo in nav */
header img a {
    width: 30%;
    border-radius: 1em 0em 1em 0em;
}

header .logo {
    padding: 1.5em;
    border-radius: 0em 0em 0em 1em;
}

.logo img {
    width: 4em;
    align-self: center;

        @media screen and (min-width: 960px) {
                width: 7em;
        }
}

header .right {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

/* Top navigatie */
.top-nav {
    display: none;

    @media screen and (min-width: 960px) {
        display: flex;
        justify-content: space-between;
        padding: 0.4em 2em 0.4em 2em;
    }
}

.top-nav .sterren:before {
    content: url('/assets/4.5-sterren.svg');
    margin: 3px 3px 0px 0px;
}

.top-nav .sterren {
    width: 11em;
}

.top-nav .right {
    display: flex;
    flex-direction: row;
    gap: 1em;
    width: unset;
}

/* Btm navigatie */
.btm-nav {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding: 1em 2em 1em 2em;

    @media screen and (min-width: 960px) {
        border-top: 1px solid rgb(217, 217, 217);
        flex-direction: row;
        gap: 1em;
    }
}

.btm-nav form {
    display: none;

    @media screen and (min-width: 960px) {
        display: flex;
        padding: 0;
        width: 65%;
    }
}

.btm-nav .links {

      @media screen and (min-width: 960px) {
    width: 12em;
    justify-content: end;
    }
}

.user p {
    display: none;
@media screen and (min-width: 960px) {
    display: flex;
}
}

.user {
              @media screen and (min-width: 960px) {
                  display: flex;
                  flex-direction: row;
                  gap: 0.5em;
              }
}

/* Hamburger knop */
.hamburger-btn {
    height: 3.5em;
    width: 3.5em;
    border-radius: var(--big-rounded);
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    @media screen and (min-width: 960px) {
        width: 16em;
        gap: 1em;
        height: 4em;
    }
}

.hamburger-btn p {
    display: none;

    @media screen and (min-width: 960px) {
        display: flex;
        flex-direction: row;
        color: var(--secondary-text-color);
    }
}

/* Openklap menu */
.cagetory-items {
    list-style-type: none;
    padding: 0 0 100px 0;
    position: fixed;
    padding: 2em;
    top: 80px;
    left: 5%;
    translate: 0% -120%;
    width: 90%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
    transition: all 0.3s;
    z-index: 10;
    overflow-y: auto;
    scrollbar-width: thin;
    max-height: 40em;
    border-radius: 0em 0em 1em 1em;

     @media screen and (min-width: 960px) {
         max-height: 28em;
        overflow-y: unset;
        width: 15em;
        translate: 80% -150%;

     }
}

.cagetory-items.open {
    translate: 0%;
    width: 90%;
    padding: 2em;

     @media screen and (min-width: 960px) {
         width: 15em;
             translate: 80% 10%;

     }
}

.cagetory-items form {
    display: flex;
    padding: 0;
    width: 100% !important;

     @media screen and (min-width: 960px) {
         display: none;
     }
}

.cagetory-items p {
     @media screen and (min-width: 960px) {
         display: none;
     }
}

form input {
    width: 100%;
}

.cagetory-items ul {
    padding: 0;
    list-style-type: none;
}

.cagetory-items ul li {
    padding-bottom: 1em;
}

.cagetory-items .divider {
    padding: 0.03em;
    background-color: rgb(217, 217, 217);

@media screen and (min-width: 960px) {
    display: none;
}
}

/* Overige */
.cagetory-items .overige {
    display: flex;
    flex-direction: row;
    gap: 1em;

        @media screen and (min-width: 960px) {
            display: none;
        }
}

.cagetory-items .sterren {
    display: flex;
    flex-direction: row;
}

.divider-vertical {
    padding: 0.01em;
    width: 1px;
    background-color: rgb(217, 217, 217);
}

.usp-besteld:before {
    content: url('/assets/favorite.svg');
    margin: 3px 3px 0px 0px;
}

.usp-besteld {
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
}

.cagetory-items .usp-besteld {
      @media screen and (min-width: 960px) {
          display: none;
      }
}

.btm-nav .links {
    list-style-type: none;
    display: flex;
    gap: 1em;
    align-items: center;
    padding: 0;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.btm-nav .links li:hover {
    transform: scale(1.05);
    transition: 0.2s ease-in-out;
}