
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}
html {
    font-family: 'American-Typewriter-Regular', 'Courier New', Courier, monospace;
    src: url('./fonts/american-typewriter-regular.ttf') format('truetype');
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    color: black;
}

.bannerone {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #facc15;
    /* background-image: url("./images/image.png"); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}
nav {
    position: absolute;
    top: 11%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    height: 9rem;
    border-bottom-left-radius: 1.25rem;
    border-bottom-left-radius: 1.25rem;
}
.cool-stuff {
    background-color: black;
    border-bottom-left-radius: 1.25rem;
    width: 10.75rem;
    padding: 2rem 2rem;
    line-height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar {
    flex: 1;
    background-color: white;
    height: 9rem;
    border-bottom-right-radius: 1.25rem;
}
.navbar-top {
    height: 2.5rem;
    border-bottom: 1px solid #e5e7eb;
    padding: 0.5rem 1rem 1rem 5rem;
    display: flex;
    justify-content: space-between;
}

.navbar-top-text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.navbar-top-info {
    display: flex;
    gap: 1rem;
}
.ratings {
    display: flex;
    gap: 0.5rem;
}

.navbar-bottom {
    height: 73%;
    border-bottom-right-radius: 1.25rem;
    padding: 2rem 2rem;
    display: flex;
    justify-content: space-between;
}
.categories-search {
    display: flex;
    gap: 0.5rem;
}
.categories-button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.7rem 1.5rem;
    border-radius: 5rem;
    background-color: black;
    color: white;
    width: 13.625rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}
.categories-button:hover {
    background-color: #facc15;
    color: black;
}
.categories-button-text {
    margin-top: -3px;

}
.search-bar {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border: 2px solid black;

    border-radius: 30px;
    padding: 5px 15px;
    width: 32rem;
    box-sizing: border-box;
}

.search-bar input {
    flex-grow: 1;
    border: none;
    font-size: 0.75em;
    outline: none;
    font-family: "Courier New", Courier, monospace;
}

.search-bar button {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    color: black;
}
.nav-user-data {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.profile {
    display: flex;
}
.cart {
    position: relative;
}


.bannerphoto {
    position: absolute;
    top: 35%;
    left: 15%;
    max-width: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.new {
    background-color: #facc15;
    color: black;
    padding: 0.3rem 1rem;
    border-radius: 0.3rem;
    font-size: 0.9rem;
    font-weight: 800;
    width: 4.4375rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner {
    font-size: 2.5rem;
    font-weight: 800;
    color: black;
    margin-top: 1rem;
    text-align: center;
}
.num {
    font-weight: 400;
}
.bannerbutton {
    background-color: black;
    color: white;
    padding: 0.7rem 1.5rem;
    border-radius: 5rem;
    font-weight: bold;
    cursor: pointer;
    margin-top: 1rem;
    border: none;
    transition: all 0.3s ease;
}
.bannerbutton:hover {
    background-color: #facc15;
    color: black;
}
.features {
    padding: 10px 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-bottom: 1px solid #e5e7eb;
}
.features-list {
    list-style: none;
    display: flex;
    gap: 3rem;
}
/* categories carousel  */
.categories {
    align-items: center;
    justify-content: center; 
}

/* New products carousel  */
.products {

}

/* articles section  */

.articles {
    margin: 1em 2em;
    width: 30%;
    align-items: center;
    justify-content: center;
}

.articles-desc {
    width: 100%;
    display: flex;
    gap: 8rem;
    justify-content: space-around;
}
.articles-item {
    background-image: url(./assets/apresski.jpg);
    background-position: center;
    background-size: cover;
    padding: 2rem;
    border-radius: 10px;

}

.articles-heading {
    max-width: 13rem;
}
.articles-description {
    max-width: 35rem;
    margin-top: 10px;
    font-size: 14px;
}
.articles-button {
    margin-top: 10px;
    background-color: transparent;
    border: 2px solid black;
    padding: 0.5rem 1rem;
    border-radius: 5em;
    font-weight: bold;
    transition: all 0.3s ease;
    color: black;
}
.articles-button:hover {
    background-color: #facc15;
    color: black;
    border: 2px solid #facc15;
}
.articles-desc {
    flex-direction: column;
    gap: 2rem;
    margin-top: 20px;
    margin-bottom: 20px;

}
/* member section  */
.member-section {
    position: relative;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    background-color: #facc15;
    height: 30vw;
    padding: 10rem 15rem;
}
.cool-member-tag {
    position: relative;
    bottom: 40%;
    right: 40%;
    background-color: black;
    height: 25vw;
    color: #facc15;
    padding: 1rem 1.5rem;
    width: 160px;
    line-height: 30px;
}


.member-benefits-list {
    list-style: none;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.member-benefits-list li {
    display: flex;
    gap: 10px;
}
.member-button {
    margin-top: 2em;
    background-color: black;
    color: white;
    padding: 0.7rem 1rem;
    font-weight: bold;
    border-radius: 2em;
    transition: all 0.3s ease;
    border: 1px solid black;
    animation: growshrink 3s infinite;
}

.member-button:hover {
    background-color: #facc15;
    color: black;
}
@keyframes growshrink {
    0% {
      transform: scale(1); 
    }
    50% {
      transform: scale(1.2); 
    }
    100% {
      transform: scale(1);
      
    }
  }
/* tips & inspiratie section  */
.tips {
    margin: 1%;
}
.tips-image {
    margin-top: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-image: url(./assets/);
    background-position: top;
    background-size: cover;
}
.tips-inspiratie {
    display: flex;
    gap: 1rem;
    margin-top: 20px;
}
.inspiratie {
    flex: 1;
    color: white;
    background-color: black;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.inspiratie-heading {
    font-size: 1rem;
}
.inspiratie-text {
    font-size: 0.7rem;
    margin-top: 10px;
}
.inspiratie-button {
    width: 100px;
    background-color: black;
    color: white;
    padding: 5px 0px;
    border: none;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
}
.footer-items {
    margin-top: 5em;
    margin-left: 14em;
    display: flex;
    gap: 8rem;
}
.footer-item-list {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    list-style: none;
    font-size: 0.7rem;
}
.email {
    width: 15rem;
    padding: 0.2rem;
    border-radius: 0.3rem;
    border: 1px solid gray;
    display: flex;
    gap: 0.1rem;
}
.email input::placeholder {
    color: gray;
}
.footer-button {
    background-color: #facc15;
    color: black;
    padding: 0.7rem 1rem;
    border: none;
    width: 140px;
    border-radius: 20px;
    font-weight: bold;
    transition: all 0.3s ease;
}
.footer-button:hover {
    background-color: black;
    color: white;
}

.footer-icons {
    display: flex;
    gap: 0.5rem;
    cursor: pointer;
}
.footer-icons img {
    width: 30px;
    height: 30px;
}
.payment-gateways {
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 1rem;
    column-gap: 1.5rem;
}
.privacy {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    padding-bottom: 50px;
    font-size: 0.7rem;
}
button {
    cursor: pointer;
}
@media screen and (max-width: 1024px) {
    .member-section {
        padding: 3rem 3rem;
    }
    .cool-member-tag {
        left: 30%;
        bottom: 15%;
        right: 0%;
    }
    .product-info {
        justify-content: space-between;
        padding: 0px 8px;
    }
}
@media screen and (max-width: 600px) {
    
    .banner.desc {
        font-size: 1rem;
    }

    .features-list {
        font-size: 10px;
    }
    .tips-inspiratie {
        flex-direction: column;
        gap: 2rem;
    }
    .tips-image {
        max-width: 100%;
    }
    .footer-items {
        flex-direction: column;
        gap: 2rem;
    }
}