* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}


/* Header */

header {
    display: flex;
    position: sticky;
    top: 0;
    width: 90%;
    align-self: center;
    border-radius: 1em 0em 1em 1em;
    z-index: 30;

      @media screen and (min-width: 960px) {
          width: 85%;
      }
}

/* Logo in nav */
header img a {
    width: 30%;
    border-radius: 1em 0em 1em 0em;
}

header .logo {
    padding: 1.5em;
    border-radius: 0em 0em 0em 1em;
}

.logo img {
    width: 4em;
    align-self: center;

        @media screen and (min-width: 960px) {
                width: 7em;
        }
}

header .right {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    padding: 0;
}

/* Top nav */
.top-nav {
    display: none;

    @media screen and (min-width: 960px) {
        display: flex;
        justify-content: space-between;
        padding: 0.4em 2em 0.4em 2em;
    }
}

.top-nav .stars:before {
    content: url('/assets/icons/stars.svg');
    margin: 3px 3px 0px 0px;
}

.top-nav .stars {
    width: 11em;
}

.top-nav .right {
    display: flex;
    flex-direction: row;
    gap: 1em;
    width: unset;
    padding: 0;
}

/* bottom nav */
.btm-nav {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding: 1em 2em 1em 2em;

    @media screen and (min-width: 960px) {
        border-top: 1px solid rgb(217, 217, 217);
        flex-direction: row;
        gap: 1em;
    }
}

.btm-nav form {
    display: none;

    @media screen and (min-width: 960px) {
        display: flex;
        padding: 0;
        width: 65%;
    }
}

.btm-nav .links {

      @media screen and (min-width: 960px) {
    width: 12em;
    justify-content: end;
    }
}

.user p {
    display: none;
@media screen and (min-width: 960px) {
    display: flex;
}
}

.user {
              @media screen and (min-width: 960px) {
                  display: flex;
                  flex-direction: row;
                  gap: 0.5em;
              }
}

/* Hamburger */
.hamburger-btn {
    height: 3.5em;
    width: 3.5em;
    border-radius: var(--big-rounded);
    border: 1px solid var();
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    @media screen and (min-width: 960px) {
        width: 16em;
        gap: 1em;
        height: 4em;
    }
}

.hamburger-btn span {
    display: none;

    @media screen and (min-width: 960px) {
        display: flex;
        flex-direction: row;
        color: var(--secondary-text-color);
        font-family: var(--font-header);
        font-size: 16px;
    }
}

/* open hamburger */
.cagetory-items {
    list-style-type: none;
    padding: 0 0 100px 0;
    position: fixed;
    padding: 2em;
    top: 80px;
    left: 3.3%;
    translate: 0% -120%;
    width: 93.5%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
    transition: all 0.3s;
    z-index: 10;
    overflow-y: auto;
    scrollbar-width: thin;
    max-height: 40em;
    border-radius: 0em 0em 1em 1em;
    

     @media screen and (min-width: 960px) {
         max-height: 28em;
        overflow-y: unset;
        width: 15em;
        translate: 83% -150%;
        left: 7%;

     }
}

.open {
    translate: 0%;
    width: 93.5%;
    padding: 2em;
     height: 150vh;

     @media screen and (min-width: 960px) {
         width: 15em;
             translate: 82% 10%;
     }
}

.cagetory-items form {
    display: flex;
    padding: 0;
    width: 100% !important;

     @media screen and (min-width: 960px) {
         display: none;
     }
}

.cagetory-items p {
     @media screen and (min-width: 960px) {
         display: none;
     }
}

.btm-nav form input {
    width: 100%;
      background-image: url('../assets/search-icon.svg');
      background-position: 97% 12px;
      background-repeat: no-repeat;
}

.cagetory-items ul {
    padding: 0;
    list-style-type: none;
}

.cagetory-items ul li {
    padding-bottom: 1em;
}

.cagetory-items .divider {
    padding: 0.03em;
    background-color: rgb(217, 217, 217);

@media screen and (min-width: 960px) {
    display: none;
}
}

/* Overige */
.cagetory-items .overige {
    display: flex;
    flex-direction: row;
    gap: 1em;

        @media screen and (min-width: 960px) {
            display: none;
        }
}

.cagetory-items .stars {
    display: flex;
    flex-direction: row;
}

.divider-vertical {
    padding: 0.01em;
    width: 1px;
    background-color: rgb(217, 217, 217);
}

.check-orderbefore:before {
    content: url('/assets/icons/check.png');
    margin: 3px 3px 0px 0px;
}

.check-orderbefore {
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
}

.cagetory-items .check-orderbefore {
      @media screen and (min-width: 960px) {
          display: none;
      }
}

.btm-nav .links {
    list-style-type: none;
    display: flex;
    gap: 1em;
    align-items: center;
    padding: 0;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.btm-nav .links li:hover {
    transform: scale(1.05);
    transition: 0.2s ease-in-out;
}


/* banner */
.banner-home {
    display: flex;
    flex-direction: column;
    background-image: url(../assets/photos/banner.png);
    background-position: 70% -20%;
    height: 70vh;
    width: 100%;
    padding-top: 10em;
    margin: -6.5em 0em 0em 0em;

    @media screen and (min-width: 1100px) {
        margin: -9em 0em 0em 0em;
        height: 90vh;
        background-position: center;
        justify-content: center;
    }
}

.banner-home .info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: 1100px) {
         width: 30%;
    }
}

.banner-home .info h1 {
    text-align: center;
}

.banner-home .info a {
    align-self: center;
    margin-top: 2em;
}

.info .label {
    padding: 0.2em 1em 0.2em 1em;
    margin: 0.2em 1em 1em 1em;
    font-family: var(--font-header);
    border-radius: var(--small-rounded);
}

 
.check-orders {
    list-style-type: none;
    display: flex;
    gap: 0.5em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em 0em 1em 0em;
 
         @media screen and (min-width: 820px) {
            flex-direction: row;
             padding: 1em 3em 1em 3em;
         }

         @media screen and (min-width: 1120px) {
            gap: 2em;
             padding: 1em 7em 1em 7em;
         }

         @media screen and (min-width: 1600px) {
             padding: 1em 4em 1em 4em;
         }
}

.check-orders li {
    display: flex;
    flex-direction: row;
}

.check-orders li:before {
    content: url(/assets/icons/check.png);
    margin: 4px 4px 0px 0px;
}

.divider-check {
        padding: 0.01em;
        background-color: rgb(217, 217, 217);
       
        margin: 0em 1em 3.5em 1em;

         @media screen and (min-width: 820px) {
             margin: 0em 3em 4.5em 3em;
         }

         @media screen and (min-width: 1120px) {
             margin: 0em 7em 5em 7em;
         }

         @media screen and (min-width: 1600px) {
             margin: 0em 4em 4em 4em;
         }
}

/* Categories */

.category-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    padding: 0;
    gap: 1em;
    margin-bottom: -4em;
    margin-top: 2em;

    @media screen and (min-width: 1100px) {
        flex-direction: row;
         gap: 2em;
        margin-bottom: -2em;
    }
}

.category-list li {
    display: inline-block;
    flex-direction: column;
    justify-self: center;

    @media screen and (min-width: 900px) {
        display: flex;
        align-items: center;
        flex: 0 0 130px;
    }
}

.category-list li img {
    width: 130px;
}

.category-list li img:hover {
    transform: scale(0.9);
}


.category-list li h3 {
    font-size: 16px;
    text-align: center;
    padding-top: 1em;
}

/* Carousel */
.carousel-wrapper-list {
    display: flex;
    flex-direction: column;
}

/* Button carousel */
/* #next {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--big-rounded);
    border: 2px solid #E5E7EB;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    align-self: flex-end;
    translate: 18px -280px;
}

#next:hover {
    background-color: var(--primary-highlight-color);
    border: var(--secondary-background-color);
    transition: 0.2s ease-in-out;
}
    */

/* Products */

.product-sectie {
    display: flex;
    flex-direction: column;
       overflow: hidden;
       margin-bottom: -2em;
}

.products-banner {
    display: flex;
    flex-direction: column;

      @media screen and (min-width: 1100px) {
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
      }
}

.products-banner a {
    text-decoration: none;
    display: flex;
    flex-direction: row;
}

.products-banner a:before {
     content: url(assets/icons/totheright.svg);
     margin: 0px 2px 0px 0px;
}

.carousel-wrapper {
    overflow: hidden;
}

.products {
     display: flex;
     flex-direction: row;
     gap: 1.5em;
     transition: transform 0.5s ease-in-out;
     padding: 0;
       scroll-behavior: smooth;
}

/* Product */
.product {
    list-style-type: none;
    width: 280px;
    flex: 0 0 350px;
    width: 400px;
    cursor: pointer;
    flex-shrink: 0;
    padding-bottom: 15px;
}

.product h3 {
    font-size: 20px;
}

.product-img {
    width: 100%;
}

/* Wishlist icon */

.favorite-icon {
    translate: 310px -340px;
    cursor: pointer;
    width: 20px;
    transition: .2s ease-in-out;
}


#tweede {
        translate: 286px -340px;
}

@keyframes flyAnimation {
   30% {
       transform: scale(1.4);
   }

   50% {
       transform: scale(.8);
   }

   100% {
       transform: scale(1);
   }
}

.fly {
    animation: flyAnimation 1s forwards;
    z-index: 30;
}






.knop-add-card {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.knop-add-card p {
    width: 130px;
    line-height: 20px;
    opacity: 1;
    transition: opacity 0.5s ease;
    pointer-events: auto;
}

.label-visible {
    opacity: 0 !important;
    pointer-events: none;
}



.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    60% {
        opacity: 0;
    }

      80% {
          opacity: 0;
      }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}


.favorite-icon:hover {
    transform: scale(1.1);
    transition: .2s ease-in-out;
}

.favorite-icon:hover path {
    fill: white;
    stroke: white;
}


.btm .info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}





.btn-card {
    padding: 0.4em 0.8em 0.1em 0.8em;
    border-radius: var(--big-rounded);
    background-color: var(--primary-highlight-color);
    border: 2px solid var(--primary-highlight-color);
    text-decoration: none;
    transition: transform all 0.3s ease;
}

.btn-card:hover {
    transform: scale(1.05);
}

.btn-card:active {
    transform: scale(0.8);
}

/* Styling voor btn-card wanneer het eerste icoon actief is */
.first-icon-active {
    background-color: var(--secondary-background-color);
    border: 2px solid var(--secondary-background-color);
}

.plus-icon {
    width: 30px;
    height: 30px;
    transition: all 0.3s ease;
    color: #000;
}

.plus-icon:hover {
    transition: all 0.3s ease;
}


/* Card icon animation */
.icon-switch-animation {
    animation: bounceInRight 0.5s ease-in-out;
}

.bounceInRight {
    -webkit-animation-name: bounceInRight;
    animation-name: bounceInRight;
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes bounceInRight {

    0%,
    60%,
    75%,
    90%,
    100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(3000px, 0, 0);
        transform: translate3d(3000px, 0, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(-25px, 0, 0);
        transform: translate3d(-25px, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(-5px, 0, 0);
        transform: translate3d(-5px, 0, 0);
    }

    100% {
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes bounceInRight {

    0%,
    60%,
    75%,
    90%,
    100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(3000px, 0, 0);
        transform: translate3d(3000px, 0, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(-25px, 0, 0);
        transform: translate3d(-25px, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(-5px, 0, 0);
        transform: translate3d(-5px, 0, 0);
    }

    100% {
        -webkit-transform: none;
        transform: none;
    }
}

/* Carousel */

/* slide animation */
.products.bewegen {
    translate: -100% 0%;
}


.product.slide-0 {
    transform: translateX(0%);
}

.products.slide-1 {
    transform: translateX(-350px);
}
.products.slide-2 {
    transform: translateX(-700px);
}




/* carousel buttons */
#next {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--big-rounded);
    border: 2px solid #E5E7EB;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    align-self: flex-end;
    translate: 18px -280px;
}

#next:hover {
    background-color: var(--primary-highlight-color);
    border: var(--primary-highlight-color);
    transition: 0.2s ease-in-out;
}

/* Banner cards */

.banner-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-cards-img {
    width: 100%;
    height: 45vh;
    object-fit: cover;

        @media screen and (min-width: 1100px) {
             height: 70vh;
        }
}

/* Cards */

.cards {
    list-style-type: none;
    padding: 0;
     width: 90%;
    margin-top: -10em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    @media screen and (min-width: 960px) {
        flex-direction: row;
        width: 85%;
    }
}

.cards li {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: flex-end;
    border-radius: var(--small-rounded);

     @media screen and (min-width: 1100px) {
         flex-direction: row;
             gap: 2em;
     }
}

.cards h2 {
    font-size: 26px;
}

.cards li img {
        border-radius: var(--small-rounded);
    @media screen and (min-width: 1100px) {
        height: 100%;
    }
}

.cards li .mobiel {
    width: 95%;
    
    @media screen and (min-width: 1100px) {
        display: none;
        width: 120%;
    }
}

.cards li .desktop{
    display: none;

    @media screen and (min-width: 1100px) {
        display: flex;
        width: 120%;
    }
}


.card-left .left {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 2em 2em 1em 2em;

      @media screen and (min-width: 1100px) {
         padding: 2em 0em 2em 2em;
      }
    
}

.card-left .right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0;

}


.card-right .left {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 2em 2em 1em 2em;

     @media screen and (min-width: 1100px) {
         padding: 2em 0em 2em 2em;
     }
}

.card-right .right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0;
}

/* Articles */

.news {
    display: flex;
    flex-direction: column;
    gap: 1em;

    @media screen and (min-width: 920px) {
         gap: 0em;
    }
}

.news .info {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 920px) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.news .info a {
    text-decoration: none;
    display: flex;
    flex-direction: row;
}

.news .info a:before {
        content: url(assets/icons/totheright.svg);
        margin: 0px 2px 0px 0px;
}

.article {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1em;

     @media screen and (min-width: 920px) {
        flex-direction: row;
     }
}

/* Articles */

.article {
    display: flex;
    flex-direction: column;
}

.article .banner {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.article .btm {
    padding: 2em;
}

.article .btm h3 {
    color: var(--secondary-text-color);
    font-size: 22px;
}

.article .btm a {
    text-decoration: none;
}

.btn-news.news {
    color: var(--secondary-text-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2.5em 0em 0em 0em;
}

/* Member */

.member {
    display: flex;
    flex-direction: column;
    gap: 1.5em;

    @media screen and (min-width: 920px) {
        flex-direction: row;
    }
}

.member .left {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media screen and (min-width: 920px) {
        padding: 0em 0em 0em 5em;
    }
}
.member .left .checklist {
    list-style-type: none;
    padding: 0em 0em 1em 0em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.member .left a {
    border: 2px solid var(--primary-text-color);
}

.member .left a:hover {
    border: 2px solid var(--primary-text-color);
}

.checklist-item {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

.right {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 920px) {
        padding: 0em 5em 0em 0em;
    }
}
.right .foto-1 {
    width: 85%;
    align-self: flex-end;
    border-radius: var(--small-rounded);

}

.right .foto-2 {
    width: 250px;
    margin-top: -120px;
    border-radius: var(--small-rounded);
}

.member-button {
    margin-top: 2em;
    background-color: black;
    color: white;
    padding: 0.7rem 1rem;
    font-weight: bold;
    border-radius: 2em;
    transition: all 0.3s ease;
    border: 1px solid black;
    animation: growshrink 3s infinite;
}

.member-button:hover {
    background-color: #facc15;
    color: black;
}
@keyframes growshrink {
    0% {
      transform: scale(0.9); 
    }
    50% {
      transform: scale(1); 
    }
    100% {
      transform: scale(0.9);
      
    }
  }

/* footer */
.footer-items {
    margin-top: 2em;
    margin-left: 20%;
    display: flex;
    gap: 10%;
}
.footer-item-list {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    list-style: none;
    font-size: 0.7rem;
}
.email {
    width: 15rem;
    padding: 0.2rem;
    border-radius: 0.3rem;
    border: 1px solid gray;
    display: flex;
    gap: 0.1rem;
}
.email input::placeholder {
    color: gray;
}
.footer-button {
    background-color: #facc15;
    color: black;
    padding: 0.7rem 1rem;
    border: none;
    width: 140px;
    border-radius: 20px;
    font-weight: bold;
    transition: all 0.3s ease;
}
.footer-button:hover {
    background-color: black;
    color: white;
}

.footer-icons {
    display: flex;
    gap: 0.5rem;
    cursor: pointer;
}
.footer-icons img {
    width: 30px;
    height: 30px;
}
.payment-gateways {
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 1rem;
    column-gap: 1.5rem;
}
.privacy {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    padding-bottom: 50px;
    font-size: 0.7rem;
}
button {
    cursor: pointer;
}
@media (max-width: 1024px) {

    .footer-items {
        flex-direction: column;
        gap: 2rem;
        margin-left: 10%;
        overflow-wrap: normal;
    }
}
@media (max-width: 600px) {

    .footer-items {
        flex-direction: column;
        gap: 2rem;
        margin-left: 20%;
}
}